.buttonV{
    border: 0;
    border-radius: 25px;
    background: #d29b84;
    width: 150px;
    padding: 10px;
    margin: 5px;
    color: #f1efe5;
    cursor: pointer;
}

.buttonS{
    border: 0;
    border-radius: 25px;
    background: #d29b84;
    width: 150px;
    padding: 10px;
    color: #f1efe5;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
}

.ends{
    border: 0;
    border-radius: 25px;
    background: #7B5747;
    width: 150px;
    padding: 10px;
    color: #f1efe5;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
}